[submodule "subreps/subrep1"]
	path = subreps/subrep1
	url = https://github.com/Phantomaxxx/subrep1.git
[submodule "subreps/subrep2"]
	path = subreps/subrep2
	url = https://github.com/Phantomaxxx/subrep2.git
